preprocess*
*__pycache__*
*.pyc
data/trained_models/*
data/trained_models2/*

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.DS_Store
*.DS_Store
.DS_Store?